body {
	background-color: #f7f7f7;
	}

body, #pages, .page {
	width: 390px;
	}

.toolbar {
	padding: 3px;
	border: 0px solid rgba(0, 0, 0, .05);
	border-width: 0;
	background-color: #eaeaea;
	text-align: center;
	}
	.toolbar.toolbar-top {
		border-width: 0 0 1px 0;
		}
	.toolbar.toolbar-bottom {
		border-width: 1px 0 0 0;
		}
	.toolbar button {
		margin: 0 10px;
		}

button {
	outline: 0;
	border: 0;
	opacity: .5;
	cursor: pointer;
	transition: opacity 0.15s ease-in-out;
	}
	button:hover {
		opacity: 1;
		}

.button-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	}
.button-svg {
	background-color: transparent;
	background-position: 50% 50%;
	background-size: 24px;
	background-repeat: no-repeat;
	}

.loading {
	background: transparent url('/img/spinner.svg') no-repeat 50% 50%;
	}
