#page-accounts-list {
	padding: 20px 30px;
	text-align: center;
	}
	#page-accounts-list.loading {
		background-size: 18px;
		height: 50px;
		}

#page-accounts .toolbar-top {
	text-align: center;
	}

#page-accounts .account {
	display: inline-block;
	padding: 10px 20px;
	}

#account-add {
	background-image: url('/img/glyphicons/plus.svg');
	}
	#account-add.loading {
		background: transparent url('/img/spinner.svg') no-repeat 50% 50%;
		background-size: 16px;
		}

#help {
	background-image: url('/img/glyphicons/help.svg');
	}
