#page-accounts-list {
	padding: 20px 30px;
	text-align: center;
	}
	#page-accounts-list.loading {
		background-size: 18px;
		height: 50px;
		}

#page-accounts .account {
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	}
	#page-accounts .account {
		opacity: 0.8;
		border: 1px solid transparent;
		transition: opacity 0.15s ease-in-out;
		}
		#page-accounts .account:hover {
			opacity: 1;
			}

#page-accounts .account-remove {
	background-image: url('/img/glyphicons/remove.svg');
	}

#main-button-add-account {
	background-image: url('/img/glyphicons/plus.svg');
	}
	#main-button-add-account.loading {
		background: transparent url('/img/spinner.svg') no-repeat 50% 50%;
		background-size: 16px;
		}

#main-button-about {
	background-image: url('/img/glyphicons/about.svg');
	}

#main-button-settings {
	background-image: url('/img/glyphicons/settings.svg');
	}

