#page-accounts-list {

	}
	#page-accounts-list.loading {
		background: transparent url('/img/spinner.svg') no-repeat 50% 50%;
		background-size: 18px;
		height: 80px;
		}

#page-accounts .toolbar-top {
	text-align: center;
	}

#accounts-add {
	background-image: url('/img/glyphicons/plus.svg');
	}
